<?xml version='1.0' encoding='utf-8'?>
<widget id="com.baronbrew.brewometercordova" version="1.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Brewometer</name>
    <description>
        Reads data from your brewometers.  Buy more brewometers here: http://brewometer.net
    </description>
    <author email="info@baronbrew.com" href="http://baronbrew.com">
        Brewometer Team
    </author>
    <content src="index.html" />
    <access origin="*" /><allow-intent href="http://*/*" />
    <allow-navigation href="http://*/*" />
    <allow-intent href="https://*/*" />

    <gap:plugin name="cordova-plugin-ble"/>
    <gap:plugin name="cordova-plugin-beacon"/>


    <platform name="android">
    <preference name="Orientation" value="sensorLandscape" />
    <preference name="Orientation" value="sensorPortrait" />
    <allow-intent href="market:*" />
    </platform>

    <platform name="ios">
    <preference name="Orientation" value="all" />
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
    <preference name="BackupWebStorage" value="local"/>
    </platform>

    <icon src="icon.png" />
    <splash src="splash.png" />

</widget>
